In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

response = requests.get('https://www.billboard.com/charts/hot-100')
doc = BeautifulSoup(response.text)

In [2]:
items = doc.find_all('div', class_="chart-list-item")
rows = []
for item in items:
    row = {}
    row['rank']=(item.get("data-rank"))
    row['name']=(item.get("data-artist"))
    row['song']=(item.get("data-title"))
    rows.append(row)

In [3]:
df = pd.DataFrame(rows)
df.head()

                                  name rank           song
0  Lil Nas X Featuring Billy Ray Cyrus    1  Old Town Road
1                        Billie Eilish    2        Bad Guy
2                               Khalid    3           Talk
3                       Jonas Brothers    4         Sucker
4           Ed Sheeran & Justin Bieber    5   I Don't Care

In [4]:
df.to_csv(r"billboard_hot_100.csv")